# Dependencies
node_modules/

# Python
venv/
__pycache__/
*.pyc

# Environment
.env
.env.local

# Next.js
.next/
out/

# Build
build/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Coverage
coverage/

# Misc
*.pem
.vercel
