@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #050505;
  color: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::selection {
  background-color: rgba(59, 130, 246, 0.3);
}
